.sombra {
  box-shadow: 2px 2px 5px #B2DFDB;
}
.sombra {
  box-shadow: 2px 2px 5px #B2DFDB;
}
.modal .modal-header {
  background: #4060A6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4060A6, #5177C8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4060A6, #5177C8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4060A6, #5177C8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4060A6, #5177C8);
  /* Standard syntax */
  color: white;
}
.modal .modal-body {
  overflow-y: auto;
}
@media (max-width: 728px) {
  .modal .modal-body {
    max-height: 350px;
  }
}
form input.validateError,
form input.validateError:focus {
  border: 1px solid orange;
}
form label.validateError {
  color: red;
  font-size: 12px;
}
#login {
  background: url("../img/bgLogin.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 100% !important;
  min-height: 100%;
  float: left;
  width: 100%;
}
#login .inicio {
  text-align: center;
  width: 99%;
}
#login .inicio img {
  margin-bottom: 20px;
}
#home {
  overflow-y: hidden;
  background: #ececec;
}
#home #menu {
  background: url("../img/bgLogin.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
#home #menu img {
  width: 150px;
  margin-bottom: 10px;
}
#home #menu .navbar-header {
  background: none;
}
#home #menu .navbar-header a {
  color: white;
  position: absolute;
  right: 3rem;
  margin-top: 3px;
}
#home #menu .navbar-header .navbar-toggle {
  color: white;
}
#home #menu .navbar-header .navbar-brand {
  color: white;
  font-size: 16px;
}
#home #menu .row {
  margin-right: 0px;
  margin-left: 0px;
}
#home #menu a[role=button] {
  background: white;
  border: none;
  border-right: none;
  border-radius: inherit;
  color: #393d40;
  width: 100%;
  margin-top: 5px;
}
#home #menu a[role=button]:last-child {
  border: none;
}
#home #menu a[role=button] .fa-stack {
  width: auto;
}
#home #menu a[role=button] [campo=nombre] {
  font-size: 11px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
}
#home #modulo {
  margin-top: 10px;
  overflow-y: scroll;
  font-size: 12px;
}
#home #modulo .container {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}
#home #modulo #tabMercancia {
  min-height: 80%;
}
#home #modulo #tabMercancia .btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
#home #modulo #tabMercancia .mercancia .media-object {
  width: 70px;
  height: 70px;
}
#home #modulo #winFotografias .img-responsive {
  display: inline;
}
#home .footer {
  position: relative;
  margin-top: -50px;
  height: 40px;
  clear: both;
}
.panel-default .panel-heading {
  background: red;
}
html {
  height: 100%;
}
#WindowLoad {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3200;
  opacity: 0.8;
  background: black;
  color: white;
}
#WindowLoad img {
  width: 70%;
  margin-bottom: 10px;
}
#alertify .btn {
  margin-left: 2px;
  margin-right: 2px;
}
#alertify .btn-muted {
  background: #393d40;
  color: white;
  border: none;
}
#alertify .btn-muted:hover,
#alertify .btn-muted:focus {
  color: white;
}
#alertify .btn-primary {
  border: none;
}
#alertify .btn-primary:hover,
#alertify .btn-primary:focus {
  color: white;
}
nav.footer .btn-primary {
  font-size: 12px;
  height: 40px;
}
#lstImg img {
  width: 200px;
  height: 200px;
}
.tab-pane {
  background: white;
}
.bootstrap-select .open {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */